<div class="ion-padding" style="text-align:center;"> 
  <ion-label class="text-color-purple text-bold">Fecha inicio:</ion-label>
  <ion-datetime-button style="text-align: left; margin-top: 10px;" datetime="datetimeI"></ion-datetime-button>
  <br>
  <ion-label class="text-color-purple text-bold">Fecha fin:</ion-label>
  <ion-datetime-button style="text-align: left; margin-top: 10px;" datetime="datetimeF"></ion-datetime-button>
  <ion-button class="boton-warmi-in" (click)="createPdf()">Generar reporte</ion-button>
</div>
<div  *ngFor="let order of orders" class="contenedor-list-ventas" id="contenedor-list-ventas">
  <ion-card *ngIf="order.status === 'Completada'" class="contenedor-card-p">
    <ion-card-header class="encabezado-card">
      <ion-card-title class="text-white text-bold">{{order.id}}</ion-card-title>
    </ion-card-header>
    <ion-card-content class="descripcion-card">
      <div class="text-color-purple text-bold">{{order.deliver_date}}</div>
      <div class="text-color-purple">{{order.client}}</div>
    </ion-card-content>
  </ion-card>
</div>
<ion-modal [keepContentsMounted]="true">
  <ng-template>
    <ion-datetime presentation="date" id="datetimeI" [(ngModel)]="start"></ion-datetime>
  </ng-template>
</ion-modal>
<ion-modal [keepContentsMounted]="true">
  <ng-template>
    <ion-datetime presentation="date" id="datetimeF" [(ngModel)]="finish"></ion-datetime>
  </ng-template>
</ion-modal>
