<div class="ion-padding" style="text-align:center;">
  <ion-label>Selecciona la fecha de entrega:</ion-label>
<ion-datetime-button style="text-align: left; margin-top: 10px;" datetime="datetime"></ion-datetime-button>
<br>
<ion-button fill="outline">Generar reporte</ion-button>
</div>

<ion-card>
  <ion-card-header>
    <ion-card-title>Venta Nro 0001</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <p>Fecha: 25/09/2022</p>
    <p>Pepito Flores</p>
  </ion-card-content>
</ion-card>
<ion-card>
  <ion-card-header>
    <ion-card-title>Venta Nro 0002</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <p>Fecha: 25/09/2022</p>
    <p>Pepito Flores</p>
  </ion-card-content>
</ion-card>

<ion-modal [keepContentsMounted]="true">
  <ng-template>
    <ion-datetime presentation="date" id="datetime"></ion-datetime>
  </ng-template>
</ion-modal>

