<ion-content>
  <div class="border-top-page">
    <!-- Contenedor 1 -->
    <div class="contenedor-header">
      <ion-icon class="icon-header size-icon" slot="start" src="/assets/icon/register_icon.svg">
      </ion-icon>
      <div class="texto-header">Regístrate </div>       
    </div>
    <!-- Contenedor 2 -->
    <div class="contenedor-title">
      <div>       
        <h4 class="text-center size-text35px text-bold text-color-purple">Ingresa tus datos</h4>
      </div>
    </div>
    <!-- Contenedor 3 - Formulario -->
    <div class="contenedor-formulario">
      <form [formGroup]="ionicForm" class="form-center ">
        <div class="">
          <!-- Nombres y Apellidos -->
          <div class="contenedor-item">
            <ion-icon slot="start" class="size-icon"  src="/assets/icon/user.svg"></ion-icon>
            <ion-item lines="none" class="input-border-bot item-native-transparency">
              <ion-label style="color: var(--warmin-color-purple);" position="floating" class="text-center text-bold">Nombres y
                apellidos</ion-label>
              <ion-input [(ngModel)]="name" type="text" formControlName="name" class="text-center">
              </ion-input>
              <span class="error-validate" *ngIf="isSubmitted && errorControl.name.errors?.required">
                Este campo es obligatorio.
               </span>              
            </ion-item>
          </div>

          <!-- Cédula -->
          <div class="contenedor-item">
            <ion-icon slot="start" class="size-icon" src="/assets/icon/rol.svg"></ion-icon>
            <ion-item lines="none" class="input-border-bot item-native-transparency">
              <ion-label style="color: var(--warmin-color-purple);" position="floating" class="text-center text-bold">Cédula
              </ion-label>
              <ion-input [(ngModel)]="identification_card" type="text" formControlName="identification_card"
                class="text-center"></ion-input>     
                <span class="error-validate" *ngIf="isSubmitted && errorControl.identification_card.errors?.required">
                  Este campo es obligatorio.
                 </span>
                 <span class="error-validate" *ngIf="isSubmitted && errorControl.identification_card.errors?.minlength">
                  Ingresa una cédula válida.
                </span>
                <span class="error-validate" *ngIf="isSubmitted && errorControl.identification_card.errors?.pattern">
                  Solo numeros permitidos.
                </span>         
            </ion-item>
          </div>

          <!-- Phone -->
          <div class="contenedor-item">
            <ion-icon slot="start" class="size-icon" src="/assets/icon/phone_icon.svg"></ion-icon>
            <ion-item lines="none" class="input-border-bot item-native-transparency">
              <ion-label style="color: var(--warmin-color-purple);" position="floating" class="text-center text-bold">Número de
                celular</ion-label>
              <ion-input [(ngModel)]="phone_number" type="text" formControlName="phone_number"
                class="text-center"></ion-input>
                <span class="error-validate" *ngIf="isSubmitted && errorControl.phone_number.errors?.required">
                  Este campo es obligatorio.
                 </span> 
                 <span class="error-validate" *ngIf="isSubmitted && errorControl.phone_number.errors?.minlength">
                  Ingresa un número válido de 10 dígitos.
                </span>
                <span class="error-validate" *ngIf="isSubmitted && errorControl.phone_number.errors?.pattern">
                  Solo numeros permitidos.
                </span> 
            </ion-item>
          </div>

          <!-- Password -->
          <div class="contenedor-item">
            <ion-icon slot="start" class="size-icon" src="/assets/icon/password.svg"></ion-icon>
            <ion-item lines="none" class="input-border-bot item-native-transparency">
              <ion-label style="color: var(--warmin-color-purple);" position="floating" class="text-center text-bold">Contraseña
              </ion-label>
              <ion-input [(ngModel)]="password" type="password" formControlName="password"
                class="text-center"></ion-input>
                <span class="error-validate" *ngIf="isSubmitted && errorControl.password.errors?.required">
                  Este campo es obligatorio.
                 </span>               
            </ion-item>
          </div>

          <!-- confirmated password -->
          <div class="contenedor-item">
            <ion-icon slot="start" class="size-icon" src="/assets/icon/password.svg"></ion-icon>
            <ion-item lines="none" class="input-border-bot item-native-transparency">
              <ion-label style="color: var(--warmin-color-purple);" position="floating" class="text-center text-bold">Confirma tu
                contraseña</ion-label>
              <ion-input [(ngModel)]="confirmate_password" type="password" formControlName="confirmate_password"
                class="text-center">
              </ion-input>
              <span class="error-validate" *ngIf="isSubmitted && errorControl.confirmate_password.errors?.required">
                Este campo es obligatorio.
               </span>                
            </ion-item>
          </div>


          <!-- Seleccion 1 -->
          <div class="contenedor-item">
            <ion-icon slot="start" class="size-icon" src="/assets/icon/rol.svg"></ion-icon>   
            <ion-item lines="none" class="input-border-bot item-native-transparency">
              <ion-label style=" color: var(--warmin-color-purple);" position="floating" class="texto-center text-bold">Tipo de usuario
              </ion-label>
              <ion-select (ionChange)="mostrar()" [(ngModel)]="role" interface="popover"
                formControlName="role">
                <!-- Opciones -->
                <ion-select-option value="Consumidor">Consumidor agroecológico</ion-select-option>
                <ion-select-option value="Agricultora">Agricultora</ion-select-option>
                <ion-select-option value="Conductor">Conductor</ion-select-option>
              </ion-select> 
              <span class="error-validate" *ngIf="isSubmitted && errorControl.role.errors?.required">
                Este campo es obligatorio.
               </span>                           
            </ion-item>
          </div>
          <!--  -->
          <div *ngIf="selectAgricultora" class="contenedor-item">
            <ion-icon slot="start" class="size-icon" src="/assets/icon/rol.svg"></ion-icon> 
            <ion-item lines="none" class="input-border-bot item-native-transparency">
              <ion-label style=" color: var(--warmin-color-purple);" position="floating" class="texto-center text-bold">* Tipo de agricultora
              </ion-label>
              <ion-select [multiple]="true" interface="popover" placeholder="Seleccione..."
                [(ngModel)]="tipoAgricultora" [ngModelOptions]="{standalone: true}">
                <ion-select-option value="Lidereza">Lideresa</ion-select-option>
                <ion-select-option value="Acopiadora">Acopiadora</ion-select-option>
                <ion-select-option value="Vendedora">Vendedora</ion-select-option>
              </ion-select>
            </ion-item>
          </div>

          <div *ngIf="selectConductor" class="contenedor-item">
            <ion-icon slot="start" class="size-icon" src="/assets/icon/rol.svg"></ion-icon> 
            <ion-item lines="none" class="input-border-bot item-native-transparency">
              <ion-label style=" color: var(--warmin-color-purple);" position="floating" class="texto-center text-bold">* Tipo de conductor
              </ion-label>
              <ion-select interface="popover" [(ngModel)]="tipoConductor" [ngModelOptions]="{standalone: true}">
                <ion-select-option value="Bus">Bus</ion-select-option>
                <ion-select-option value="Camioneta">Camioneta</ion-select-option>
                <ion-select-option value="Privado">Privado</ion-select-option>
              </ion-select>
            </ion-item>
          </div>

          <div *ngIf="selectAgricultora" class="contenedor-item">
            <ion-icon slot="start" class="size-icon" src="/assets/iconos/center_acopio.svg"></ion-icon>
            <ion-item lines="none" class="input-border-bot item-native-transparency">
              <ion-label style="color: var(--warmin-color-purple);" position="floating" class="text-center text-bold">Pertenece a alguna
                asociación</ion-label>
              <ion-select interface="popover" [(ngModel)]="is_association" [ngModelOptions]="{standalone: true}">
                <ion-select-option value="Si">Si</ion-select-option>
                <ion-select-option value="No">No</ion-select-option>
              </ion-select>
            </ion-item>
          </div>
        </div>
        <div class="text-center">
          <ion-button type="submit" size="large" class="boton-warmi-in" (click)="terminos()">Regístrate
          </ion-button>
        </div>
      </form>
  </div>
  </div>
</ion-content>
