<ion-content>
  <div class="border-top-page">
    <!-- Contenedor 1 -->
    <div class="contenedor-header">
      <ion-icon class="icon-header size-icon" slot="start" src="/assets/icon/ubication.svg">
      </ion-icon>
      <div class="texto-header">Ventas</div>
    </div>
  </div>
  <br>
  <ion-card>
    <ion-segment [value]="valueSelected" class="card-tabs-bg" [scrollable]="true" (ionChange)="segmentChange($event)">
      <ion-segment-button value="1">
        <ion-label>Mis ventas</ion-label>
      </ion-segment-button>
      <ion-segment-button value="2">
        <ion-label>Comercialización</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-card>
  <div *ngIf="valueSelected == 1">
    <app-ventas></app-ventas>
  </div>
  <div *ngIf="valueSelected == 2">
    <app-comercializacion></app-comercializacion>
  </div>

</ion-content>
