<ion-content>
  <div class="border-top-page">
    <!-- Contenedor 1 -->
    <div class="contenedor-header">
      <ion-icon class="icon-header size-icon" slot="start" src="/assets/icon/ubication.svg">
      </ion-icon>
      <div class="texto-header">Movilidad</div>
    </div>    
  </div>
  <ion-card class="titulo-fondo ion-margin">
    <h4>Novedades {{fecha}}</h4>
  </ion-card>
  
  <div class="center">
    <ion-card style="width: 282px; height: 410px">
      <app-googlemaps [modal]="modal"  [feature] = "feature"></app-googlemaps>
    </ion-card>
  </div>
 <!-- <div class="contenedor-busqueda">
  <div class="search">
    <ion-searchbar class="busqueda" placeholder="Buscar ..."  showCancelButton="never"></ion-searchbar>
  </div>    
</div> -->

<!-- }  
  <ion-card class="map">
    <capacitor-google-maps id="map"></capacitor-google-maps>
  </ion-card>

  <ion-card class="titulo-fondo ion-margin">
    <h4>Novedades {{fecha}}</h4>
  </ion-card> -->
  <!-- <ion-card style="width: 97%; height: 575px;">
    <app-googlemaps [modal]="modal"  [feature] = "feature"></app-googlemaps>
  </ion-card> -->
  
</ion-content>
