// .titulo-fondo{
//     --background: #DBF8DE;
//     text-align: center;
//     }
    capacitor-google-maps {
        display: inline-block;
        width: 100%;
        height: 100%;
      }
    .map{
        height: 75%;
        width: 95%;
    }
.titulo-fondo{
    background: var(--warmin-color-brown);
    color: #fff;
    text-align: center;
    }