<ion-content>
  <div class="border-top-page">
    <div class="contenedor-header">
      <ion-icon class="icon-header size-icon" slot="start" src="/assets/icon/car.svg">
      </ion-icon>
      <div class="texto-header">Conductor Camioneta</div>
    </div>
  </div>
  <div class="contenedor-perfil">
    <div class="imagen-conductor"><img width="125" src="{{image || 'assets/img/profileDefault.jpg'}}" /></div>
    <div class="informacion-conductor">
      <!-- rating solo lectura -->
      <div class="contenedor-rating">
        <ngx-stars [readonly]="true" [maxStars]="5" [color]="'#f9b233'" [size]="2" [initialStars]="4"
          [customStarIcons]="heartIcons"></ngx-stars>
        <span class="ion-text-center text-bold text-color-brown"  style="font-weight: bold; font-size: 20px; margin: 0; padding: 0;">Calificación 4 de
          5</span>
        <div>
        </div>
      </div>
      <div class="ion-text-center contenedor-datos">
        <div class="ion-text-center text-bold text-color-brown">{{name}}</div>
        <div class="ion-text-center text-color-purple">{{phone}}</div>
        <ion-button class=" boton-whatsapp" (click)="confirmWhatsApp()">
          <ion-icon name="logo-whatsapp"></ion-icon>&nbsp;
          Contactar
        </ion-button>
      </div>
    </div>
  </div>
  <div class="descripcion-perfil" style="margin-top: 1rem">
    <div class="ion-text-center text-bold text-color-brown">Descripción Vehicular</div>
    <ion-grid style="width: 70%;">
      <ion-row>
        <ion-col class="ion-text-right text-color-brown" size="6">Tipo de vehículo: </ion-col>
        <ion-col size-md="6" class="text-color-purple">{{description}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-text-right text-color-brown" size="6">Color: </ion-col>
        <ion-col size-md="6" class="text-color-purple">{{color}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-text-right text-color-brown" size="6">Placa: </ion-col>
        <ion-col size-md="6" class="text-color-purple">{{car_plate}}</ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <!-- calificar rating  -->
  <div class="contenedor-rating" style="margin-top: 1rem">
    <div class="ion-text-center text-bold text-color-brown ">Califica a este conductor</div>
    <ngx-stars [readonly]="false" [maxStars]="5" [color]="'#f9b233'" [size]="3" [initialStars]="2.5"
      [customStarIcons]="heartIcons" (ratingOutput)="onRatingSet($event)"></ngx-stars>
    <span class="ion-text-center text-bold text-color-brown" style="font-weight: bold; font-size: 20px">Calificación {{ ratingDisplay }} de 5</span>
    <div>
    </div>
  </div>
  <br>
  <br>
  <div class="center">
    <ion-button [routerLink]="">Calificar</ion-button>
  </div>
</ion-content>
