<ion-content>
  <div class="border-top-page">
    <!-- Contenedor 1 -->
    <div class="contenedor-header">
      <ion-icon class="icon-header size-icon" slot="start" src="/assets/icon/ubication.svg">
      </ion-icon>      
      <div class="texto-header">Geolocalización</div>
    </div>
    <!-- Contenedor 2 -->
    <div class="contenedor-title">
      <div>
        <h4 class="text-center size-text35px text-bold text-color-purple">Indica en el mapa la ubicación del punto de venta</h4>
      </div>
    </div>
  </div>
  <div class="center">
    <ion-card class="tam-map">
      <app-googlemaps  [localizacion]="localizacion" (enviar)="recibirData($event)"></app-googlemaps>
    </ion-card>
  </div>
  <ion-card>
    <ion-list class="items">
      <ion-label style=" color: var(--warmin-color-purple);" position="floating" class="texto-center text-bold">* Días de atención
      </ion-label>
      <ion-select mode="ios" [multiple]="true" interface="popover" placeholder="Seleccione..."
        [(ngModel)]="days" [ngModelOptions]="{standalone: true}">
        <ion-select-option value="Lunes">Lunes</ion-select-option>
        <ion-select-option value="Martes">Martes</ion-select-option>
        <ion-select-option value="Miércoles">Miércoles</ion-select-option>
        <ion-select-option value="Jueves">Jueves</ion-select-option>
        <ion-select-option value="Viernes">Viernes</ion-select-option>
        <ion-select-option value="Sábado">Sábado</ion-select-option>
        <ion-select-option value="Domingo">Domingo</ion-select-option>
      </ion-select>
    </ion-list>
  </ion-card>
  <ion-card>
    <ion-list class="items">
      <ion-label style=" color: var(--warmin-color-purple);" position="floating" class="texto-center text-bold">* Hora inicio
      </ion-label>
      <ion-select mode="ios" interface="popover" placeholder="Seleccione..."
        [(ngModel)]="horaInicio" [ngModelOptions]="{standalone: true}">
        <ion-select-option value="08:00">08:00</ion-select-option>
        <ion-select-option value="09:00">09:00</ion-select-option>
        <ion-select-option value="10:00">10:00</ion-select-option>
        <ion-select-option value="11:00">11:00</ion-select-option>
        <ion-select-option value="12:00">12:00</ion-select-option>
        <ion-select-option value="13:00">13:00</ion-select-option>
        <ion-select-option value="14:00">14:00</ion-select-option>
        <ion-select-option value="15:00">15:00</ion-select-option>
        <ion-select-option value="16:00">16:00</ion-select-option>
        <ion-select-option value="17:00">17:00</ion-select-option>
      </ion-select>
    </ion-list>
  </ion-card>
  <ion-card>
    <ion-list class="items">
      <ion-label style=" color: var(--warmin-color-purple);" position="floating" class="texto-center text-bold">* Hora fin
      </ion-label>
      <ion-select mode="ios" interface="popover" placeholder="Seleccione..."
        [(ngModel)]="horaFin" [ngModelOptions]="{standalone: true}">
        <ion-select-option value="08:00">08:00</ion-select-option>
        <ion-select-option value="09:00">09:00</ion-select-option>
        <ion-select-option value="10:00">10:00</ion-select-option>
        <ion-select-option value="11:00">11:00</ion-select-option>
        <ion-select-option value="12:00">12:00</ion-select-option>
        <ion-select-option value="13:00">13:00</ion-select-option>
        <ion-select-option value="14:00">14:00</ion-select-option>
        <ion-select-option value="15:00">15:00</ion-select-option>
        <ion-select-option value="16:00">16:00</ion-select-option>
        <ion-select-option value="17:00">17:00</ion-select-option>
      </ion-select>
    </ion-list>
  </ion-card>
  <div class="btn-ordenar">
    <ion-button class="boton-warmi-in" (click)="continuar()"> Continuar</ion-button>
  </div>




</ion-content>