<ion-content>
  <div class="border-top-page">
    <!-- Contenedor 1 -->
    <div class="contenedor-header">
      <ion-icon class="icon-header size-icon" slot="start" src="/assets/icon/ubication.svg">
      </ion-icon>      
      <div class="texto-header">Geolocalización</div>
    </div>
    <!-- Contenedor 2 -->
    <div class="contenedor-title">
      <div>
        <h4 class="text-center size-text35px text-bold text-color-purple">Indique en el mapa la ubicación de su domicilio para entrega de productos</h4>
      </div>
    </div>
  </div>

<div class="center">
  <ion-card class="tam-map">
    <app-googlemaps [localizacion]="localizacion" [feature] = "feature" (enviar)="recibirData($event)"></app-googlemaps>
  </ion-card>
</div>

<div class="btn-ordenar">
  <ion-button class="boton-warmi-in" (click)="guardarGeolocalizacion()">Continuar</ion-button>
</div>


</ion-content>
