<ion-header>
  <ion-toolbar>
    <ion-title>Invitaciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
<ion-card class="invitacion">
  <h4 class="ion-text-center" style="color:black">Asociacion Mujeres A</h4>
</ion-card>
<ion-card>
  <ion-card-title class="title">
    Ventajas
  </ion-card-title>
  <ion-list class="items">
      <ion-label>
        <p>Vender en diferentes puntos</p>
      </ion-label>
      <ion-label>
        <p>Tranporte</p>
      </ion-label>
      <ion-label>
        <p>Protección</p>
      </ion-label>
  </ion-list>
</ion-card>
<ion-card>
  <ion-card-title class="title">
    Reglas
  </ion-card-title>
  <ion-textarea>
    Regla 1
    Regla 2
    Regla 3
  </ion-textarea>
</ion-card>
<ion-card class="map">
  <capacitor-google-maps id="map"></capacitor-google-maps>
</ion-card>
</ion-content>
