<ion-content>
  <div class="border-top-page">
    <!-- Contenedor 1 -->
    <div class="contenedor-header">
      <ion-icon class="icon-header size-icon" slot="start" src="/assets/iconos/w_invit.svg">
      </ion-icon>
      <div class="texto-header">Invitaciones</div>
    </div>
    <!-- Contenedor 2 -->
    <div class="contenedor-title">
      <div>
        <ion-button type="submit" class="boton-warmi-in" [routerLink]="['/ma_lideresa/menu/editar-invitacion']"><ion-icon name="card-outline"></ion-icon> &nbsp; &nbsp;Editar</ion-button>
        
        <h4 class="text-center size-text35px text-bold text-color-purple">{{name}}</h4>
    
      </div>
   
    </div>
  </div>

  <div class="contenedor-lista">
    <div class="lista-ventajas">
      <div class=" text-color-purple text-bold ventajas">Ventajas</div>
      <div class="text-color-purple">{{advantages}}</div>
    
    </div>
    <div class="lista-reglas">
      <div class="text-color-purple text-bold reglas">Reglas</div>
      <div class="text-color-purple">{{rules}}</div>
    </div>
  </div>
<ion-card class="tam-map">
  <app-googlemaps [posicionEdit]="posicionEdit" [buscador]="buscador" [miUbicacion]="miUbicacion" [feature]="feature"></app-googlemaps>
</ion-card>

</ion-content>
