<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Mujer agricultora</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div class="border-top-page">
    <!-- Contenedor 1 -->
    <div class="contenedor-header">
      <ion-icon class="icon-header size-icon" slot="start" src="/assets/icon/ubication.svg">
      </ion-icon>
      <div class="texto-header">Mujer agricultora</div>
    </div>    
  </div>
  <ion-card style="border-radius:20px; text-align: center;">
    <img width="125" src="assets/img/comprador.jpg" />
    <ion-card-header>
      <ion-card-title>María Perez</ion-card-title>
    </ion-card-header>  
  </ion-card>

  <ion-card>
    <ion-card-header>
    <ion-card-title>Vendedora de granos</ion-card-title>
    <ion-card-subtitle>27 años</ion-card-subtitle>
   </ion-card-header>
  <ion-card-content>
    Puntos de venta: parque central, plaza principal.
  </ion-card-content>

  <form [formGroup]="form">      
    <div class="cont">
        <div class="stars">
          <ngx-star-rating formControlName="rating" [id]="'rating1'" [disabled] ="true"></ngx-star-rating>
        </div>
      </div>
</form>

  </ion-card>
  <ion-card>
    <ion-card-header>
    <ion-card-title>Califica a la vendedora:</ion-card-title>
    </ion-card-header>

  <form [formGroup]="form">      
    <div class="cont">
        <div class="stars">
        <ngx-star-rating formControlName="rating1" [id]="'rating'"></ngx-star-rating>
        </div>
      </div>
      <ion-button class="ion-padding" expand="full" style="--background: #50CD89;"><ion-icon name="card-outline"></ion-icon> &nbsp; &nbsp;Calificar</ion-button>
<br>
<br>
<br>
</form>

  </ion-card>
</ion-content>
