.contenedor-search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 60px;
}

.icon-margin-wm {
  margin-right: 10px;
}

.borde {
  display: flex;
  flex-direction: row;
  width: 250px;
  justify-content: center;
  align-items: center;
  border: 3px;
  border-style: solid;
  padding: 10px;
  border-radius: 50px;
  border-color: var(--warmin-color-orange);
}

#inputSearch {
  border: 0;
  background: transparent;  
  width: 200px;
  outline: none
}

.map {
  display: block;
  width: 282px;
  height: 290px;
}

.contenedor-ubicacion{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px 0 10px 0;
}

.chip-color{
  background-color: var(--warmin-color-yellow);
}