<ion-content>
  <div class="border-top-page">
    <!-- Contenedor 1 -->
    <div class="contenedor-header">
      <ion-icon class="icon-header size-icon" slot="start" src="/assets/iconos/w_col.svg">
      </ion-icon>      
      <div class="texto-header">Productos</div>
    </div>    
  </div>
    <ion-card>
    <ion-segment [value]="valueSelected" class="card-tabs-bg" [scrollable]="true"(ionChange)= "segmentChange($event)">
      <ion-segment-button value="1">
        <ion-label>Productos</ion-label>
      </ion-segment-button>
      <ion-segment-button value="2">
        <ion-label>Agricultoras</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-card>
  <div *ngIf="valueSelected == 1">
    <app-productos-tab></app-productos-tab>
  </div>
  <div *ngIf="valueSelected == 2">
    <app-agricultoras></app-agricultoras>
  </div>
</ion-content>
