<ion-content>
  <div class="border-top-page">
    <!-- Contenedor 1 -->
    <div class="contenedor-header">
      <ion-icon class="icon-header size-icon" slot="start" src="../../../assets/icon/update_date.svg">
      </ion-icon>
      <div class="texto-header">Actualizar perfil</div>
    </div>
  </div>
  <!--  -->
  <!-- Dato 1 -->
  <div class="datos-personales">    
    <div class="imagen-buttom">
      <img class="img-profile" src="{{foto || '../assets/img/chooseImg.png'}}" />
      <ion-button class="imagen-in-buttom">
        <label for="file-upload">
          <ion-icon class="size-icon-camera" slot="icon-only" src="assets/iconos/camera.svg"></ion-icon>
        </label>
         <input class="text-center"  (change)="newImageUpload($event)" id="file-upload" style="display: none" type="file"  accept="image/*">
     </ion-button>
    </div>

    <div>
      <ion-card-header>
        <ion-card-title class="text-color-purple text-bold">{{name}}</ion-card-title>        
      </ion-card-header>
      <ion-card-content>        
        <div class="text-color-purple">{{identification_card}}</div>
        <!--  -->
        <div class="text-bold text-color-brown">Teléfono:</div>
        <div class="text-color-purple">{{phone}}</div>
      </ion-card-content>
    </div>
  </div>
  <div class="ion-padding">
    <div class="contenedor-item">
      <ion-icon slot="start" class="size-icon"  src="/assets/iconos/user.svg"></ion-icon>
      <ion-item lines="none" class="input-border-bot item-native-transparency">
        <ion-label style="color: var(--warmin-color-purple);" position="floating" class="text-center text-bold">Nombre</ion-label>
        <ion-input value="{{name || ''}}" [(ngModel)]="name" type="text" [ngModelOptions]="{standalone: true}" class="text-center">
        </ion-input>              
      </ion-item>
    </div>
    
    <div class="contenedor-item">
      <ion-icon slot="start" class="size-icon"  src="/assets/iconos/phone.svg"></ion-icon>
      <ion-item lines="none" class="input-border-bot item-native-transparency">
        <ion-label style="color: var(--warmin-color-purple);" position="floating" class="text-center text-bold">Número de teléfono</ion-label>
        <ion-input value="{{phone || ''}}" [(ngModel)]="phone" type="text" [ngModelOptions]="{standalone: true}" class="text-center">
        </ion-input>              
      </ion-item>
    </div>
    <div *ngIf="rolAgricultora" class="contenedor-item">
      <ion-icon slot="start" class="size-icon" src="/assets/icon/rol.svg"></ion-icon> 
      <ion-item lines="none" class="input-border-bot item-native-transparency">
        <ion-label style=" color: var(--warmin-color-purple);" position="floating" class="texto-center text-bold">* Tipo de agricultora
        </ion-label>
        <ion-select [multiple]="true" interface="popover" placeholder={{placeholderTipox}}
          [(ngModel)]="tipoAgricultora" [ngModelOptions]="{standalone: true}">
          <ion-select-option value="Lidereza">Lideresa</ion-select-option>
          <ion-select-option value="Acopiadora">Acopiadora</ion-select-option>
          <ion-select-option value="Vendedora">Vendedora</ion-select-option>
        </ion-select>
      </ion-item>
    </div>
  </div>
<div class="btn-ordenar">
  <ion-button (click)="updateProfile()" class="boton-warmi-in">Actualizar</ion-button>
</div>
</ion-content>

<!-- <div class="border-top-page">
  <div class="contenedor-header">
    <ion-icon class="icon-header size-icon" slot="start" src="/assets/icon/ubication.svg">
    </ion-icon>
    <div class="texto-header">Actualizar perfil</div>
  </div>
</div>
<ion-content>
  <div class="contenedor-title">
    <div>       
      <h4 class="text-center size-text35px text-bold text-color-purple">Ingresa tus datos</h4>
    </div>
  </div>
  <div class="contenedor-item">
    <ion-item lines="none" class="input-border-bot item-native-transparency">
      <ion-label class="normal"  class="text-center text-bold">Foto de perfil: </ion-label>
      <ion-buttons slot="end">
        <ion-button>
           <label for="file-upload">
             <ion-icon slot="icon-only" name="images"></ion-icon>
           </label>
            <input  class="text-center"  (change)="newImageUpload($event)" id="file-upload" style="display: none" type="file"  accept="image/*">
        </ion-button>
      </ion-buttons>
     
    </ion-item>
    
  </div>
  <ion-item>
    <img class="image" style="width: 250px; height: 250px; margin-left: 80px;" [src]="foto || '../assets/img/chooseImg.png'">
  </ion-item>
  <div class="contenedor-item">
    <ion-icon slot="start" class="size-icon"  src="/assets/iconos/col.svg"></ion-icon>
    <ion-item lines="none" class="input-border-bot item-native-transparency">
      <ion-label style="color: var(--warmin-color-purple);" position="floating" class="text-center text-bold">Nombre</ion-label>
      <ion-input value="{{name || ''}}" [(ngModel)]="name" type="text" [ngModelOptions]="{standalone: true}" class="text-center">
      </ion-input>              
    </ion-item>
  </div>
  <div class="contenedor-item">
    <ion-icon slot="start" class="size-icon"  src="/assets/iconos/col.svg"></ion-icon>
    <ion-item lines="none" class="input-border-bot item-native-transparency">
      <ion-label style="color: var(--warmin-color-purple);" position="floating" class="text-center text-bold">Número de teléfono</ion-label>
      <ion-input value="{{phone || ''}}" [(ngModel)]="phone" type="text" [ngModelOptions]="{standalone: true}" class="text-center">
      </ion-input>              
    </ion-item>
  </div>
<ion-button (click)="updateProfile()" class="boton-warmi-in" expand="block">  &nbsp; &nbsp;Actualizar</ion-button>

</ion-content> -->
