<ion-card *ngFor="let product of products">
  <ion-list>
  <ion-item  style="font-size: 12px;">
  
    <ion-chip (click)="deleteProduct(product.id)" slot="end" color="danger">Eliminar</ion-chip>
    <ng-container *ngFor="let item of product.images"> 
    <ion-thumbnail *ngIf="item.url" slot="start">
      <img  src="{{item.url || '/assets/img/compra.png'}}" />
    </ion-thumbnail>
  </ng-container> 
 
    <ion-label [routerLink]="['/ma_vendedora/menu/productos/agregarProducto/', product.productId]">{{product.product}}
      <p>{{product.description}}</p>
      <p>{{product.measure}} -- {{product.price}}</p></ion-label>
    
</ion-item>
</ion-list>
</ion-card>
<ion-fab (click)="viewAgregarProducto()" vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button color="danger">
    <ion-icon name="add-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>