<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="inicio">
      <ion-icon name="home"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="agricultoras">
      <ion-icon name="person-circle"></ion-icon>
      <ion-label>Agricultoras</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="carrito">
      <ion-icon name="cart"></ion-icon>
      <ion-label>Carrito</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="ordenes">
      <ion-icon name="earth-outline"></ion-icon>
      <ion-label>Mis ordenes</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>