<ion-header>
  <ion-toolbar>
    <ion-title>Noticia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card style="height: 95%; width: 95%;">
    <ion-card class="titulo-fondo">
      <h4>Vía cerrada</h4>
    </ion-card>
    <br>
    <br>
    <h6 class="ion-margin">Mi ubicación</h6>
    <ion-card class="map">
      <capacitor-google-maps id="map"></capacitor-google-maps>
    </ion-card>
    <ion-card>
    
      <ion-item>
        <ion-label position="stacked">Descripción</ion-label>
        <ion-textarea>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sed, ex numquam? Magnam delectus laborum dolor alias non aut dicta id repellendus cum sapiente, facilis aperiam numquam. Atque natus cum iure?</ion-textarea>
      </ion-item>
    </ion-card>
  
    </ion-card>
</ion-content>
