<ion-content>
  <div class="border-top-page">
    <!-- Contenedor 1 -->
    <div class="contenedor-header">
      <ion-icon class="icon-header size-icon" slot="start" src="/assets/iconos/w_world.svg">
      </ion-icon>
      <div class="texto-header">Noticia</div>
    </div>    
  </div>
  <ion-card style="height: 95%; width: 95%;">
    <ion-card class="titulo-fondo">
      <h4>Vía cerrada</h4>
    </ion-card>
    <br>
    <br>
    <h6 class="ion-margin">Mi ubicación</h6>
    <ion-card class="map">
      <capacitor-google-maps id="map"></capacitor-google-maps>
    </ion-card>
    <ion-card>
    
      <ion-item>
        <ion-label position="stacked">Descripción</ion-label>
        <ion-textarea>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sed, ex numquam? Magnam delectus laborum dolor alias non aut dicta id repellendus cum sapiente, facilis aperiam numquam. Atque natus cum iure?</ion-textarea>
      </ion-item>
    </ion-card>
  
    </ion-card>
</ion-content>
