<ion-content>
  <div class="border-top-page">
    <!-- Contenedor 1 -->
    <div class="contenedor-header">
      <ion-icon class="icon-header size-icon" slot="start" src="/assets/icon/ubication.svg">
      </ion-icon>
      <div class="texto-header">Geolocalización</div>
    </div>
    <!-- Contenedor 2 -->
    <div class="contenedor-title">
      <div>
        <h4 class="text-center size-text35px text-bold text-color-purple">Indica en el mapa la ubicación del centro de
          acopio</h4>
      </div>
    </div>
  </div>
  <div class="center">
    <ion-card class="tam-map">
      <app-googlemaps [localizacion]="localizacion" [feature]="feature" (enviar)="recibirData($event)"></app-googlemaps>
    </ion-card>
  </div>
  <div class="btn-ordenar">
    <ion-button class="boton-warmi-in" id="open-modal">Continuar</ion-button>
  </div>

  <!-- Modal -->

  <ion-modal #modal trigger="open-modal" [presentingElement]="presentingElement">
    <ng-template>
      <ion-header>
        <ion-toolbar>

          <ion-buttons slot="end">
            <ion-button (click)="modal.dismiss()">Cancelar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>

      <div class="border-top-page">
        <!-- Contenedor 1 -->
        <div class="contenedor-header">
          <ion-icon class="icon-header size-icon" slot="start" src="/assets/iconos/w_acopio.svg">
          </ion-icon>
          <div class="texto-header">Asociación</div>
        </div>
      </div>
      <ion-content>
        <br>
        <div class="text-center size-text35px text-bold text-color-purple">Ingresa los datos requeridos</div>
        <form>
          <div class="contenedor-item ">
            <ion-item lines="none" class="input-border-bot item-native-transparency">
              <ion-label style="color: var(--warmin-color-purple);" position="floating" class="text-center text-bold">
                Nombre del centro de acopio</ion-label>
              <ion-input [(ngModel)]="name" type="text" name="name" class="text-center ">
              </ion-input>
            </ion-item>
          </div>
          <div class="contenedor-item ">
            <ion-item lines="none" class="input-border-bot item-native-transparency">
              <ion-label style="color: var(--warmin-color-purple);" position="floating" class="text-center text-bold">
                Descripción</ion-label>
              <ion-textarea [(ngModel)]="description" name="description" class="text-center ">
              </ion-textarea>
            </ion-item>
          </div>

          <div class="center-days">
    
            <div>
              <ion-label style=" color: var(--warmin-color-purple);" position="floating" class="texto-center text-bold">
                Días
              </ion-label>
              <ion-select mode="ios" [multiple]="true" interface="popover" placeholder="Seleccione..."
                [(ngModel)]="days" [ngModelOptions]="{standalone: true}">
                <ion-select-option value="Lunes">Lunes</ion-select-option>
                <ion-select-option value="Martes">Martes</ion-select-option>
                <ion-select-option value="Miércoles">Miércoles</ion-select-option>
                <ion-select-option value="Jueves">Jueves</ion-select-option>
                <ion-select-option value="Viernes">Viernes</ion-select-option>
                <ion-select-option value="Sábado">Sábado</ion-select-option>
                <ion-select-option value="Domingo">Domingo</ion-select-option>
              </ion-select>

              <ion-label style=" color: var(--warmin-color-purple);" position="floating" class="texto-center text-bold">
                *
                Hora inicio
              </ion-label>
              <ion-select mode="ios" interface="popover" placeholder="Seleccione..." [(ngModel)]="horaInicio"
                [ngModelOptions]="{standalone: true}">
                <ion-select-option value="08:00">08:00</ion-select-option>
                <ion-select-option value="09:00">09:00</ion-select-option>
                <ion-select-option value="10:00">10:00</ion-select-option>
                <ion-select-option value="11:00">11:00</ion-select-option>
                <ion-select-option value="12:00">12:00</ion-select-option>
                <ion-select-option value="13:00">13:00</ion-select-option>
                <ion-select-option value="14:00">14:00</ion-select-option>
                <ion-select-option value="15:00">15:00</ion-select-option>
                <ion-select-option value="16:00">16:00</ion-select-option>
                <ion-select-option value="17:00">17:00</ion-select-option>
              </ion-select>
              <ion-label style=" color: var(--warmin-color-purple);" position="floating" class="texto-center text-bold">
                *
                Hora fin
              </ion-label>
              <ion-select mode="ios" interface="popover" placeholder="Seleccione..." [(ngModel)]="horaFin"
                [ngModelOptions]="{standalone: true}">
                <ion-select-option value="08:00">08:00</ion-select-option>
                <ion-select-option value="09:00">09:00</ion-select-option>
                <ion-select-option value="10:00">10:00</ion-select-option>
                <ion-select-option value="11:00">11:00</ion-select-option>
                <ion-select-option value="12:00">12:00</ion-select-option>
                <ion-select-option value="13:00">13:00</ion-select-option>
                <ion-select-option value="14:00">14:00</ion-select-option>
                <ion-select-option value="15:00">15:00</ion-select-option>
                <ion-select-option value="16:00">16:00</ion-select-option>
                <ion-select-option value="17:00">17:00</ion-select-option>
              </ion-select>
              <div class="btn-ordenar">
                <ion-button type="submit" class="boton-warmi-in" (click)="addAcopio()">
                  <ion-icon name="card-outline"></ion-icon>Guardar
                </ion-button>
              </div>
            </div>
          </div>
        </form>
      </ion-content>
    </ng-template>
  </ion-modal>

</ion-content>
