<ion-searchbar placeholder="Buscar" value=""></ion-searchbar>
<ion-card>

  <ion-item style="font-size: 12px;" (click)="goToProfile()">
    <ion-chip slot="end" color="success">Activo</ion-chip>
    <ion-thumbnail slot="start">
      <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/demos/api/thumbnail/thumbnail.svg" />
    </ion-thumbnail>
    <ion-label>Camioneta doble cabina<p>Juan Perez</p>
      <p>Carro blanco PCL-323</p></ion-label>
  </ion-item>
  <ion-item style="font-size: 12px;" (click)="goToProfile()">
    <ion-chip slot="end" color="success">Activo</ion-chip>
    <ion-thumbnail slot="start">
      <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/demos/api/thumbnail/thumbnail.svg" />
    </ion-thumbnail>
    <ion-label>Camioneta doble cabina<p>Juan Perez</p>
      <p>Carro blanco PCL-323</p></ion-label>
  </ion-item>
  <ion-item style="font-size: 12px;" (click)="goToProfile()">
    <ion-chip slot="end" color="success">Activo</ion-chip>
    <ion-thumbnail slot="start">
      <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/demos/api/thumbnail/thumbnail.svg" />
    </ion-thumbnail>
    <ion-label>Camioneta doble cabina<p>Juan Perez</p>
      <p>Carro blanco PCL-323</p></ion-label>
  </ion-item>

</ion-card>