<!-- <ion-searchbar placeholder="Buscar" class="search-bar-orange" value=""></ion-searchbar> -->
<div class="container-search-bar">
  <div class="size-search-bar">
    <ion-searchbar placeholder="Buscar" class="search-bar-orange" showCancelButton="never"></ion-searchbar>
  </div>
</div>

<ion-card>

  <ion-item *ngFor="let shared of shareds" style="font-size: 12px;" (click)="gotoProfile(shared.id)">
    <ion-chip slot="end" color="success">{{shared.status}}</ion-chip>
    <ion-thumbnail slot="start">
      <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/demos/api/thumbnail/thumbnail.svg" />
    </ion-thumbnail>
    <ion-label>{{shared.users_id}}<p>{{shared.name}}</p>
      <p>{{shared.meeting_point}}</p>
      <p>{{shared.date}}
      -- {{shared.hour}}</p>
    </ion-label>
  </ion-item>


</ion-card>