<ion-card>
  <ion-card-header>
    <ion-card-title>Vía cerrada</ion-card-title>
  </ion-card-header>

  <ion-card-content>
Frente a la plaza principal, grupo de manifestantes.
  </ion-card-content>
</ion-card>
<ion-card>
  <ion-card-header>
    <ion-card-title>Vía cerrada</ion-card-title>
  </ion-card-header>

  <ion-card-content>
Frente a la plaza principal, grupo de manifestantes.
  </ion-card-content>
</ion-card>
<ion-card>
  <ion-card-header>
    <ion-card-title>Vía cerrada</ion-card-title>
  </ion-card-header>

  <ion-card-content>
Frente a la plaza principal, grupo de manifestantes.
  </ion-card-content>
</ion-card>
<ion-card>
  <ion-card-header>
    <ion-card-title>Vía cerrada</ion-card-title>
  </ion-card-header>

  <ion-card-content>
Frente a la plaza principal, grupo de manifestantes.
  </ion-card-content>
</ion-card>