<div class="contenedor-busqueda">
  <div class="search">
    <ion-searchbar (ionChange)="searchMa($event)" class="busqueda" placeholder="Buscar ..."  showCancelButton="never"></ion-searchbar>
  </div>    
</div>


<!-- List of people -->
<div class="contenedor-personas">
  <ng-container *ngIf="!role">
  <div *ngFor="let farmer of searchFarmer" class="card" [routerLink]="['/ma_vendedora/menu/productos/perfilma',farmer.id]">
    <div *ngIf="farmer.photo != ''">
      <ng-container  *ngFor="let item of farmer.photo">  
        <img  class="imagen-card" src="{{item.url}}" />
      </ng-container>      
    </div>
    <div *ngIf="farmer.photo == ''"> <img class="imagen-card" src="assets/img/profileDefault.jpg" /></div>
    <div  class="detalle-personal">
      <div class="texto-personal text-bold text-color-purple">{{farmer.name}}</div>
      <div class="texto-personal text-color-purple">{{farmer.phone}}</div>
      <div class="texto-personal text-color-purple">{{farmer.identification_card}}</div>
    </div>
  </div>  
</ng-container>
<ng-container *ngIf="role">
  <div *ngFor="let farmer of searchFarmer" class="card" [routerLink]="['/ma_acopiadora/menu/perfil-ma', farmer.id]">
    <div *ngIf="farmer.photo != ''">
      <ng-container  *ngFor="let item of farmer.photo">  
        <img  class="imagen-card" src="{{item.url}}" />
      </ng-container>      
    </div>
    <div *ngIf="farmer.photo == ''"> <img class="imagen-card" src="assets/img/profileDefault.jpg" /></div>
    <div  class="detalle-personal">
      <div class="texto-personal text-bold text-color-purple">{{farmer.name}}</div>
      <div class="texto-personal text-color-purple">{{farmer.phone}}</div>
      <div class="texto-personal text-color-purple">{{farmer.identification_card}}</div>
    </div>
  </div>  
</ng-container>
</div>

