<ion-content>
  <div class="border-top-page">
    <!-- Contenedor 1 -->
    <div class="contenedor-header">
      <ion-icon class="icon-header size-icon" slot="start" src="/assets/icon/ubication.svg">
      </ion-icon>      
      <div class="texto-header">Ubicación agricultoras</div>
    </div>
    <!-- Contenedor 2 -->
    <div class="contenedor-title">
      <div>
        <h4 class="text-center size-text35px text-bold text-color-purple">Ubicación  de punto de venta de vendoras</h4>
      </div>
    </div>
  </div>
<!-- 
  <ion-item-divider style="text-align: center; color: black;">
    <h4>Ubicación  de punto de venta de vendoras</h4>
  </ion-item-divider> -->
<!-- <ion-card style="width: 97%; height: 83%;">
  <app-googlemaps [modal]="modal" [feature] = "feature"></app-googlemaps>
</ion-card> -->
<div class="center">
  <ion-card style="width: 282px; height: 410px">
    <app-googlemaps [modal]="modal" [feature] = "feature"></app-googlemaps>
  </ion-card>
</div>

</ion-content>
