<ion-content>
  <div class="border-top-page">
    <!-- Contenedor 1 -->
    <div class="contenedor-header">
      <ion-icon class="icon-header size-icon" slot="start" src="/assets/iconos/w_world.svg">
      </ion-icon>
      <div class="texto-header">Notificaciones</div>
    </div>    
  </div>

  <div class="contenedor-estado">
    <div class="text-bold text-color-purple"> Lista de invitaciones enviadas</div>
  </div>

  <ion-card>
    <ion-item *ngFor="let invitation of invitations" style="font-size: 12px;">
      <ion-chip *ngIf="invitation.status === 'Aceptada'" slot="end" color="success">{{invitation.status}}</ion-chip>
      <ion-chip (click)="updateStatus(invitation.id, 'Aceptada')" *ngIf="invitation.status !== 'Aceptada'" slot="end" color="warning">{{invitation.status}}</ion-chip>
      <ion-thumbnail slot="start">
        <img alt="Silhouette of mountains" src="{{invitation.photoSeller || 'assets/img/profileDefault.jpg'}}" />
      </ion-thumbnail>

      <ion-label (click)="goWhatsApp(invitation.seller_phone)">
        <div class="text-bold text-color-brown">{{invitation.seller_name}}</div>
        <div class="text-color-purple">{{invitation.date.slice(0,10)}}</div>
        <div class="text-color-purple">{{invitation.seller_phone}}</div>
      </ion-label>
    </ion-item>
  </ion-card>

</ion-content>
