<ion-content>
  <div class="border-top-page">
    <!-- Contenedor 1 -->
    <div class="contenedor-header">
      <ion-icon class="icon-header size-icon" slot="start" src="/assets/icon/ubication.svg">
      </ion-icon>
      <div class="texto-header">Paradas</div>
    </div>
  </div>
  <ion-row class="ion-padding">
    <ion-col style="margin-top: 8px;">
      <ion-label class="text-color-purple text-bold">Selecciona la ruta</ion-label>
    </ion-col>
    <ion-col>
      <ion-select interface="popover" placeholder="Seleccione...">
        <ion-select-option value="apples">Ruta 1</ion-select-option>
        <ion-select-option value="oranges">Ruta 2</ion-select-option>
        <ion-select-option value="bananas">Ruta 3</ion-select-option>
      </ion-select>

    </ion-col>
  </ion-row>


  <div class="center">
    <ion-card style="width: 282px; height: 410px">
      <app-googlemaps [modal]="modal" [localizacion]="localizacion" (enviar)="recibirData($event)" [feature]="feature"></app-googlemaps>
    </ion-card>
  </div>
  <!-- <ion-card class="map">
    <capacitor-google-maps id="map"></capacitor-google-maps>
  </ion-card> -->


  <ion-card>
    <ion-item *ngFor="let parada of feature">
      <ion-chip *ngIf="parada.status === 'ACTIVE'" color="success" slot="end">Disponible</ion-chip>
      <!-- <ion-thumbnail slot="start">
        <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/demos/api/thumbnail/thumbnail.svg" />
      </ion-thumbnail> -->

      <ion-label>
        <div class="text-bold text-color-brown">{{parada.nameLineBus}}-{{parada.descripcionLineBus}}</div>
        <!-- <div class="text-color-purple">{{camioneta.description}}</div> -->
        <div class="text-color-purple">{{parada.nameStop}}</div>
        <!-- <div class="text-bold text-color-pinkd">{{camioneta.car_plate}}</div> -->
      </ion-label>
    </ion-item>
  </ion-card>

  <!-- <ion-card class="contenedor-card-parada">
    <ion-list>
      <ion-item *ngFor="let parada of feature">      
        <ion-label class="text-bold text-color-brown">{{parada.nameLineBus}}-{{parada.descripcionLineBus}}<p>{{parada.nameStop}}</p></ion-label>    
        <ion-chip *ngIf="parada.status === 'ACTIVE'" color="success" slot="end">Disponible</ion-chip>  
      </ion-item>
    </ion-list>
  </ion-card> -->

</ion-content>
