<ion-content>
  <div class="border-top-page">
    <!-- Contenedor 1 -->
    <div class="contenedor-header">
      <ion-icon class="icon-header size-icon" slot="start" src="/assets/iconos/o_parada.svg">
      </ion-icon>
      <div class="texto-header">Paradas</div>
    </div>
  </div>
  <ion-row class="ion-padding">
    <ion-col style="margin-top: 8px;">
      <ion-label class="text-color-purple text-bold">Información paradas de buses</ion-label>
    </ion-col>
  </ion-row>
  <div class="center">
    <ion-card class="tam-map">
      <app-googlemaps [modal]="modal" [localizacion]="localizacion" (enviar)="recibirData($event)" [feature]="feature"></app-googlemaps>
    </ion-card>
  </div>
  <ion-card>
    <ion-item *ngFor="let parada of feature">
      <ion-chip *ngIf="parada.status === 'ACTIVE'" color="success" slot="end">Disponible</ion-chip>
   <ion-label>
        <div class="text-bold text-color-brown">{{parada.nameLineBus}}-{{parada.descripcionLineBus}}</div>

        <div class="text-color-purple">{{parada.nameStop}}</div>
      </ion-label>
    </ion-item>
  </ion-card>

</ion-content>
