<!-- <ion-header>
  <ion-toolbar>
    <ion-title>{{name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<h2>{{description}}</h2>
<h2>{{days}}</h2>
<h2>{{hours}}</h2>
</ion-content> -->

<div class="contenedor-title-modal">
  <div class="">
    <div class="texto-title-modal">{{name}}</div>
  </div>
</div>

<ion-content >
  <div class="margen-content">
    <div class="modal-name-user">{{description}}</div>
    <div>{{days}}</div>
    <div>{{hours}}</div>

    <!-- <div>
      <ion-button class="boton-warmi-in" (click)="viewProfile()">Ver perfisssss</ion-button>
    </div> -->
  </div>
</ion-content>
