<ion-content>
  <div class="border-top-page">
    <!-- Contenedor 1 -->
    <div class="contenedor-header">
      <ion-icon class="icon-header size-icon" slot="start" src="/assets/icon/ubication.svg">
      </ion-icon>
      <div class="texto-header">Movilidad de la vendedora</div>
    </div>
  </div>
  <div class="center">
    <ion-card class="tam-map">
      <app-googlemaps [modal]="modal" [localizacion]="localizacion" [feature]="feature"></app-googlemaps>
    </ion-card>
  </div>
</ion-content>
