<ion-header>
  <ion-toolbar>
    <ion-title>Editar Invitación</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content >

<ion-card>
  <ion-item>
    <ion-label position="stacked">Nombre de la asociación</ion-label>
    <ion-input>Asociacion Mujeres A</ion-input>
  </ion-item>
<ion-card>
  <ion-card-title class="title">
    Ventajas
  </ion-card-title>
  <ion-list class="items">
    <ion-textarea></ion-textarea>
  </ion-list>
</ion-card>
<ion-card>
  <ion-card-title class="title">
    Reglas
  </ion-card-title>
  <ion-list class="items">
    <ion-textarea></ion-textarea>
  </ion-list>
</ion-card>
</ion-card>
<ion-searchbar placeholder="Buscar" showCancelButton="never"></ion-searchbar>
<ion-card class="map">
  <capacitor-google-maps id="map"></capacitor-google-maps>
</ion-card>
<div class="action-button">
  <ion-button type="submit" size="large" class="actualizar-button" fill="outline">Actualizar</ion-button>
</div>
  
</ion-content>

