<ion-content>
  <div class="border-top-page">

  <div class="contenedor-header">
    <ion-icon class="icon-header size-icon" slot="start" src="/assets/icon/ubication.svg">
    </ion-icon>
    <div class="texto-header">Ubicación</div>
  </div>
</div>
  <ion-card class="card-tabs-bg">
    <ion-segment [value]="valueSelected" [scrollable]="true" (ionChange)="segmentChange($event)">
      <ion-segment-button value="1">
        <ion-label >Agricultoras</ion-label>
      </ion-segment-button>
  
      <ion-segment-button value="2">
        <ion-label>Autos privados</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-card>

  <div *ngIf="valueSelected == 2">
    <app-privado></app-privado>
  </div>

  <div class="center">
    <ion-card  class="tam-map">
      <app-googlemaps [modal]="modal" [localizacion]="localizacion" [feature]="feature"></app-googlemaps>
    </ion-card>
  </div>
</ion-content>
