// :root {
//     --warmin-color-yellow: #f9b233;
//     --warmin-color-orange: #EC6730;
//     --warmin-color-purple: #522974;
//     --warmin-color-pinkd: #e62243;
//     --warmin-color-brown: #a9172e;
// }

.container-item-tipo-user {
    width: 100px;
    height: 40px;
    display: flex;
    text-align: center;
    justify-content: center;
    margin: auto;
    padding-bottom: 8vh;
}

