ion-list{
    margin: 0;
    padding: 0;
}

ion-card-content{
// margin: 30;
padding: 5px;
}

ion-card-header{
    padding: 7px;
    margin: 0;
}

ion-card-title{
    padding: 0;
}
ion-card-subtitle{
    padding: 0;
    margin: 0;
}