
:root{
  --warmin-color-yellow:#f9b233;
  --warmin-color-orange:#EC6730;
  --warmin-color-purple:#522974;
  --warmin-color-pinkd:#e62243;
  --warmin-color-brown:#a9172e;  
}

.margen-menu{
  margin-top: 2%;
  width: 80%;
  height: 100%;
  border-end-end-radius:40px;
  border-start-end-radius: 40px;
}

.logo-size{
  width: 10%;
  height: 10%;
}
.avatar-area{
  width: 40%;
  height: 40%;
  
}

.contenedor-avatar{
  display: flex;
  justify-content: center;
}

.margin-logo-orage{
  padding-top: 20%;
}
.margin-bar-orage{
  padding-top: 15px;
}
.color-text-white{
  color: #fff;
}

.border-color-buttom{
  --border-color: #fff;
}
.all-margin-right{    
  padding: 40px 20px 0px 0px;
}

.bold-text{
  font-weight: bold;
}