

  // --warmin-color-yellow:#f9b233;
  // --warmin-color-orange:#EC6730;
  // --warmin-color-purple:#522974;
  // --warmin-color-pinkd:#e62243;
  // --warmin-color-brown:#a9172e;  

  .background-menusliderleft{
    --background: var(--warmin-color-orange);
    border-end-end-radius: 50px;
    border-start-end-radius: 50px;
    width: 300px;    
  }

  .contenedor-menu{
    display: flex;     
    flex-direction: column;  
    justify-content: center;
    align-items: center; 
  }

.texto-header-menu{
  padding: 15px;
  font-size: 20px;
  font-weight: bold;
  color: #fff;  
}

  .contenedor-item-menu{
    padding-top: 2%;
    padding-bottom: 2%;
    
  }

  .size-avatar{
    width: 150px;
    height: 150px;     
  }

  .border-white{
    --border-color: #fff;
  }
  