<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay" class="background-menusliderleft">
      <!-- Ttitle  -->

      <div class="contenedor-menu">
        <!-- Encabezado Menú -->
        <ion-label class="texto-header-menu">
          <ion-icon class="" src="/assets/icon/menu.svg"></ion-icon> Menú
        </ion-label>
        <!-- photo Profile -->
        <div class="contenedor-item-menu">
          <ion-avatar class="size-avatar">
            <img src="./assets/img/comprador.jpg" />
          </ion-avatar>
        </div>
        <!-- date profile -->
        <div>
          <div class="contenedor-item-menu text-center text-bold text-white">
            <ion-label>Edison Tanyan</ion-label>
          </div>
          <div class="contenedor-item-menu text-center text-bold">
            <ion-note class="text-white">1324324242</ion-note>
          </div>
          <div class="contenedor-item-menu text-center text-bold">
            <ion-note class="text-white">0993335589</ion-note>
          </div>
        </div>
        <!-- Botones de Accion -->
        <div>
          <div class="contenedor-item-menu">
            <ion-button (click)="onClick()" fill="outline" class="text-white border-white">
              <ion-icon slot="start" src="/assets/icon/update_date.svg"></ion-icon>
              Actualizar datos
            </ion-button>
          </div>
          <div class="contenedor-item-menu">
            <ion-button (click)="onClick()" fill="outline" class="text-white border-white">
              <ion-icon slot="start" src="/assets/icon/ubication.svg"></ion-icon>
              Ubicación
            </ion-button>
          </div>
          <div class="contenedor-item-menu">
            <ion-button (click)="onClick()" fill="outline" class="text-white border-white">
              <ion-icon  slot="start" src="/assets/icon/vend_favorites.svg"></ion-icon>
              Vendedores Favoritos
            </ion-button>
          </div>

          <!-- logo + cerrar sesion -->
          <div>
            <div class="contenedor-item-menu">
              <ion-img class="size-avatar" src="/assets/icon/logo_white.svg"></ion-img>
            </div>
            <div class="contenedor-item-menu">
              <ion-button (click)="logout()" fill="outline" class="text-white border-white">
                <ion-icon slot="start" src="/assets/icon/login.svg"></ion-icon>
                Cerrar Sesión
              </ion-button>
            </div>
          </div>
        </div>


      </div>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
