
<ion-content>
  <div class="border-top-page">
    <!-- Contenedor 1 -->
    <div class="contenedor-header">
      <ion-icon class="icon-header size-icon" slot="start" src="/assets/iconos/w_register.svg">
      </ion-icon>
      <div class="texto-header">Noticias</div>
    </div>    
  </div>

  <ion-card style="height: 95%; width: 95%;">
  <ion-card class="titulo-fondo">
    <h4 style="color: #fff;">Vía cerrada</h4>
  </ion-card>
  <br>
  <br>
  <div class="text-bold text-color-brown">Punto de referencia</div>
  <ion-card class="map">
    <capacitor-google-maps id="map"></capacitor-google-maps>
  </ion-card>
  <ion-card>
  
    <div style="display: flex; flex-direction: column;">
      <div position="stacked" class="text-bold text-color-brown">Descripción</div>
      <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam vel et odio, vitae expedita officia minus earum quo facere qui.</div>
    </div>
  </ion-card>

  </ion-card>
  
  </ion-content>