.cont {
    width: 93%;
    max-width: 350px;
    text-align: right;
    color: #EEE;
    overflow: hidden;
  }
  
  div.stars {
    width: 270px;
    display: inline-block;
  }
 

  capacitor-google-maps {
    display: inline-block;
    width: 100%;
    height: 100%;
  }
.map{
    height: 35%;
    width: 95%;
}