<ion-content>
  <div class="border-top-page">
    <!-- Contenedor 1 -->
    <div class="contenedor-header">
      <ion-icon class="icon-header size-icon" slot="start" src="/assets/icon/ubication.svg">
      </ion-icon>      
      <div class="texto-header">Movilización</div>
    </div>
    <!-- Contenedor 2 -->
    <div class="contenedor-title">
      <div>
        <h4 class="text-center size-text35px text-bold text-color-purple">Muestra la información de las paradas del transporte público</h4>
      </div>
    </div>
  </div>
  <div class="center">
    <ion-card class="tam-map">
      <app-googlemaps [modal]="modal" [feature] = "feature"></app-googlemaps>
    </ion-card>
  </div>

</ion-content>