<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Productos</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div class="border-top-page">
    <!-- Contenedor 1 -->
    <div class="contenedor-header">
      <ion-icon class="icon-header size-icon" slot="start" src="/assets/icon/ubication.svg">
      </ion-icon>
      <div class="texto-header">Productos</div>
    </div>    
  </div>
  <!-- <ion-searchbar class="ion-padding" placeholder="Buscar" showCancelButton="never"></ion-searchbar> -->
  <div class="container-search-bar">
    <div class="size-search-bar">
      <ion-searchbar placeholder="Buscar" class="search-bar-orange" showCancelButton="never"></ion-searchbar>
    </div>
  </div>
<ion-card>
  <div style="text-align:center;">
    <h2>{{name}}</h2>
<ion-chip>{{phone}}</ion-chip>
</div>
<ion-card *ngFor="let product of products" style="border-radius: 20px;">
  <ion-list>
    <ion-item [routerLink]="['/consumidor/tab-inicial/detalles_producto', product.productId]">
      <ion-thumbnail slot="start">
        <img src="assets/img/compra.png" />
      </ion-thumbnail>
      <ion-label>
      <h3>{{product.product}}</h3>
      <ion-grid>
        <ion-row>
          <ion-col>
            <p>{{product.description}}</p>
          </ion-col>
          <ion-col style="text-align: right;">
            <ion-badge color="success" style="color: white;">{{product.price}}</ion-badge>
          </ion-col>
        </ion-row>
    </ion-grid>
    </ion-label>
    </ion-item>
  </ion-list>
  </ion-card>
    </ion-card>
    <ion-button (click)="goCar()">Carrito</ion-button>
</ion-content>
