.pad-bar{
    margin: 4px;
}

.btn-ordenar{
    display: flex;
    justify-content: center;
    align-items: center;
}

.bagde-style{
    width: 25px;
    background: var(--warmin-color-yellow);
    color: #fff;
}