.contenedor-title-modal {
    width: 40vh;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    background: var(--warmin-color-orange);
    border-start-end-radius: 50px;
    border-end-end-radius: 50px;

}

.texto-title-modal {
    font-size: 20px;
    color: #fff;
    font-weight: bold;
    padding: 5px;
}

.margen-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.modal-name-user {
    color: var(--warmin-color-brown);
    margin-bottom: 15px;
    font-weight: bold;

}

