<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Geolocalización Llegada</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div class="border-top-page">
    <!-- Contenedor 1 -->
    <div class="contenedor-header">
      <ion-icon class="icon-header size-icon" slot="start" src="/assets/icon/ubication.svg">
      </ion-icon>
      <div class="texto-header">Geolocalización Llegada</div>
    </div>
    <!-- Contenedor 2 -->
    <div class="contenedor-title">
      <div>
        <h4 class="text-center size-text35px text-bold text-color-purple">Indica en el mapa la ubicación de llegada</h4>
      </div>
    </div>
  </div>
<!-- 
  <ion-card style="width: 97%; height: 80%;">
    <app-googlemaps [localizacion]="localizacion" [feature] = "feature" (enviar)="recibirData($event)"></app-googlemaps>
  </ion-card>
  <ion-button (click)="registrarLlegada()" class="ion-padding boton-azul" expand="block">  &nbsp; &nbsp;Continuar</ion-button> -->
  <div class="center">
    <ion-card style="width: 282px; height: 410px">
      <app-googlemaps [localizacion]="localizacion" [feature] = "feature" (enviar)="recibirData($event)"></app-googlemaps>
    </ion-card>
  </div>

  <div class="btn-ordenar">
    <ion-button class="boton-warmi-in" (click)="registrarLlegada()">Continuar</ion-button>
  </div>
</ion-content>
