<ion-content>
  <div class="border-top-page">
    <!-- Contenedor 1 -->
    <div class="contenedor-header">
      <ion-icon class="icon-header size-icon" slot="start" src="/assets/icon/ubication.svg">
      </ion-icon>
      <div class="texto-header">Geolocalización Llegada</div>
    </div>
    <!-- Contenedor 2 -->
    <div class="contenedor-title">
      <div>
        <h4 class="text-center size-text35px text-bold text-color-purple">Indica en el mapa la ubicación de llegada</h4>
      </div>
    </div>
  </div>
 <div class="center">
    <ion-card class="tam-map">
      <app-googlemaps [localizacion]="localizacion" [feature] = "feature" (enviar)="recibirData($event)"></app-googlemaps>
    </ion-card>
  </div>

  <div class="btn-ordenar">
    <ion-button class="boton-warmi-in" id="open-modal">Continuar</ion-button>
  </div>

  <ion-modal #modal trigger="open-modal" [presentingElement]="presentingElement">
    <ng-template>
      <ion-header>
        <ion-toolbar>
        
          <ion-buttons slot="end">
            <ion-button (click)="modal.dismiss()">Atrás</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      
      <div class="border-top-page">
        <!-- Contenedor 1 -->
        <div class="contenedor-header">
          <div class="texto-header">Datos vehículo</div>
        </div>
      </div>
      <ion-content>
          <br>
          <h4 class="text-center size-text35px text-bold text-color-purple">Ingresa los datos requeridos</h4>
          <form [formGroup]="ionicForm">
           <div class="contenedor-item ">

              <ion-item lines="none" class="input-border-bot item-native-transparency">
                <ion-label style="color: var(--warmin-color-purple);" position="floating" class="text-center text-bold">
                  Placa:</ion-label>
                <ion-input [(ngModel)]="car_plate" formControlName="car_plate" class="text-center">
                </ion-input>
                <span class="error-validate" *ngIf="isSubmitted && errorControl.car_plate.errors?.required">
                  Este campo es obligatorio.
                 </span>               
              </ion-item>
            </div>
              <div class="contenedor-item ">
                <ion-item lines="none" class="input-border-bot item-native-transparency">
                  <ion-label style="color: var(--warmin-color-purple);" position="floating" class="text-center text-bold">
                    Descripción:</ion-label>
                  <ion-input [(ngModel)]="description" formControlName="description" class="text-center">
                  </ion-input>
                  <span class="error-validate" *ngIf="isSubmitted && errorControl.description.errors?.required">
                    Este campo es obligatorio.
                   </span>               
                </ion-item>
              </div>
              <div class="contenedor-item ">
            
                <ion-item lines="none" class="input-border-bot item-native-transparency">
                  <ion-label style="color: var(--warmin-color-purple);" position="floating" class="text-center text-bold">
                    Color:</ion-label>
                  <ion-input [(ngModel)]="color" formControlName="color" class="text-center">
                  </ion-input>  
                  <span class="error-validate" *ngIf="isSubmitted && errorControl.color.errors?.required">
                    Este campo es obligatorio.
                   </span>               
                </ion-item>
              </div>
  
        <div class="btn-ordenar">
          <ion-button type="submit" (click)="registrarLlegada()" class="boton-warmi-in"><ion-icon name="card-outline"></ion-icon>Guardar</ion-button>
        </div>
      </form>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
