<ion-content>
  <div class="border-top-page">
    <!-- Contenedor 1 -->
    <div class="contenedor-header">
      <ion-icon class="icon-header size-icon" slot="start" src="/assets/iconos/agricultores.svg">
      </ion-icon>
      <div class="texto-header">Agricultoras</div>
    </div>
  </div>
  <!--Search Bar  -->
  <!-- <div class="container-search-bar padding-bar">
    <div class="">
      <ion-searchbar placeholder="Buscar" class="search-bar-orange" showCancelButton="never"></ion-searchbar>
    </div>
  </div> -->
  <div class="contenedor-busqueda">
    <div class="search">
      <ion-searchbar class="busqueda" placeholder="Buscar ..."  showCancelButton="never"></ion-searchbar>
    </div>    
  </div>

  <!-- Lista Personas -->
  <div class="contenedor-personas">
    <div *ngFor="let farmer of listFarmers" class="card" [routerLink]="['/consumidor/tab-inicial/perfil-ma',farmer.id]">
      <div>
        <img class="imagen-card" src="assets/img/MujerAgricultora1.webp" />
      </div>
      <div  class="detalle-personal">
        <div class="texto-personal text-bold text-color-purple">{{farmer.name}}</div>
        <div class="texto-personal text-color-purple">{{farmer.phone}}</div>
        <div class="texto-personal text-color-purple">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sit explicabo laborum a obcaecati, repellendus sunt!</div>
      </div>
    </div>  
  </div>
</ion-content>
