<ion-header>
  <ion-toolbar>
    <ion-title>Detalles centro de acopio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card style="height: 95%; width: 95%;">
<ion-card class="titulo-fondo">
  <h4>Centro de acopio 1</h4>
</ion-card>
<h6 class="ion-margin">Mi ubicación</h6>
<ion-card class="map">
  <capacitor-google-maps id="map"></capacitor-google-maps>
</ion-card>
<ion-card>
  <ion-card-header>
    <ion-card-subtitle>Descripción</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    Keep close to Nature's heart... and break clear away, once in awhile,
    and climb a mountain or spend a week in the woods. Wash your spirit clean.
  </ion-card-content>
</ion-card>
<ion-item>
  <ion-label position="stacked">Días de funcionamiento</ion-label>
  <ion-input>Martes, Miercoles, Jueves</ion-input>
</ion-item>
<ion-item>
  <ion-label position="stacked">Horario de atención</ion-label>
  <ion-input>9:00 a 18:00</ion-input>
</ion-item>
</ion-card>

</ion-content>
