<ion-content>
  <div class="border-top-page">
    <!-- Contenedor 1 -->
    <div class="contenedor-header">
      <ion-icon class="icon-header size-icon" slot="start" src="/assets/icon/ubication.svg">
      </ion-icon>
      <div class="texto-header">Geolocalización</div>
    </div>
    <!-- Contenedor 2 -->
    <div class="contenedor-title">
      <div>
        <div class="text-center size-text35px text-bold text-color-purple">Indica en el mapa la ubicación de la
          asociación</div>
      </div>
    </div>
  </div>
  <div class="center">
    <ion-card class="tam-map">
      <app-googlemaps [localizacion]="localizacion" [feature]="feature" (enviar)="recibirData($event)"></app-googlemaps>
    </ion-card>
  </div>

  <div class="btn-ordenar">
    <ion-button class="boton-warmi-in" id="open-modal" expand="block">Continuar</ion-button>
  </div>
  <!-- Modal -->

  <ion-modal #modal trigger="open-modal" [presentingElement]="presentingElement">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="end">
            <ion-button (click)="modal.dismiss()">Cancelar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>

      <div class="border-top-page">
        <div class="contenedor-header">
          <ion-icon class="icon-header size-icon" slot="start" src="/assets/iconos/w_acopio.svg">
          </ion-icon>
          <div class="texto-header">Asociación</div>
        </div>
      </div>
      <ion-content>
        <br>
        <h4 class="text-center size-text35px text-bold text-color-purple">Ingresa los datos requeridos</h4>
        <form>
            <div class="contenedor-item ">
              <ion-icon slot="start" class="size-icon" src="/assets/iconos/o_acopio.svg"></ion-icon>
              <ion-item lines="none" class="input-border-bot item-native-transparency">
                <ion-label style="color: var(--warmin-color-purple);" position="floating" class="text-center text-bold">
                  Nombre de la asociación</ion-label>
                <ion-input [(ngModel)]="name" type="text" name="name">
                </ion-input>
              </ion-item>
            </div>
              <div class="contenedor-item ">
                <ion-item lines="none" class="input-border-bot item-native-transparency">
                  <ion-label style="color: var(--warmin-color-purple);" position="floating"
                    class="text-center text-bold">
                    Ventajas</ion-label>
                  <ion-textarea [(ngModel)]="advantages" name="advantages">
                  </ion-textarea>
                </ion-item>
              </div>
              </ion-card> -->
              <div class="contenedor-item ">
                <ion-item lines="none" class="input-border-bot item-native-transparency">
                  <ion-label style="color: var(--warmin-color-purple);" position="floating"
                    class="text-center text-bold">
                    Reglas</ion-label>
                  <ion-textarea [(ngModel)]="rules" name="rules">
                  </ion-textarea>
                </ion-item>
              </div>
            <div class="btn-ordenar">
              <ion-button type="submit" class="boton-warmi-in" (click)="guardarAsociacion()">
                <ion-icon name="card-outline"></ion-icon>Guardar
              </ion-button>
            </div>
        </form>
      </ion-content>
    </ng-template>
  </ion-modal>

</ion-content>
