<ion-content>
  <div class="border-top-page">
    <div class="contenedor-header">
      <ion-icon class="icon-header size-icon" slot="start" src="/assets/iconos/w_register.svg">
      </ion-icon>
      <div class="texto-header">Detalles entrega</div>
    </div>
  </div>
  <div class="contenedor-perfiles">
    <div class="perfil-vendedora">
      <div>
        <ion-thumbnail style="height: 100px; width: 100px;" slot="end">
          <img src="{{imageSeller || 'assets/img/profileDefault.jpg'}}" />
        </ion-thumbnail>
      </div>
      <div class="datos">
        <div class="text-bold text-color-brown">Vendedora</div>
        <div class="text-color-purple">{{seller}}</div>
        <div>
          <ion-button class="boton-warmi-in" style="--background: var(--warmin-color-pinkd)"><a href="https://wa.me/593{{phoneSeller}}" style="color: whitesmoke;"> &nbsp;&nbsp; Contactar</a></ion-button>
        </div>
      </div>
    </div>
    <div class="perfil-consumidor separated-profile">
      <div>
        <ion-thumbnail style="height: 100px; width: 100px;" slot="end">
          <img src="{{imageClient || 'assets/img/profileDefault.jpg'}}" />
        </ion-thumbnail>
      </div>
      <div class="datos">
        <div class="text-bold text-color-brown">Consumidor</div>
        <div class="text-color-purple">{{client}}</div>
        <div>
          <ion-button class="boton-warmi-in" style="--background: var(--warmin-color-pinkd)"><a href="https://wa.me/593{{phoneClient}}" style="color: whitesmoke;"> &nbsp;&nbsp; Contactar</a></ion-button>
        </div>
      </div>
    </div>
  </div>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <div class="text-bold text-color-brown">Productos</div>
      </ion-card-title>
    </ion-card-header>
    <ion-grid *ngFor="let product of productos">
      <ion-row>
        <ion-col>
          {{product.product}}
        </ion-col>
        <ion-col style="text-align: right;">{{product.measure}}</ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  
  <ion-card class="tam-map">
    <ion-card-header>
      <ion-card-title>
        <div class="text-bold text-color-brown">Puntos de venta y entrega</div>
      </ion-card-title>
    </ion-card-header>
    <app-googlemaps [localizacion]="localizacion" [feature]="feature" ></app-googlemaps>
  </ion-card>
</ion-content>
