/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

    // --warmin-color-yellow:#f9b233;
    // --warmin-color-orange:#EC6730;
    // --warmin-color-purple:#522974;
    // --warmin-color-pinkd:#e62243;
    // --warmin-color-brown:#a9172e;  

@font-face{
  font-family: Encode Sans;
  src: url(../src/assets/fonts/EncodeSans.ttf); 
}

.border-top-page{
  padding: 5% 0 0 0;
}


//Barra Naranja
  //header
.contenedor-header{
  display: flex;
  align-items: center;
  justify-content: left;
  background-color: var(--warmin-color-orange);
  border-end-end-radius: 50px;
  border-start-end-radius: 50px;
  max-width: 60%;
  max-height: 6%;    
}
  
*{
  font-family: Encode Sans;
}

.texto-header{
  font-size: 20px;
  font-weight: bold;
  color: #fff; 
}

.icon-header{
  padding: 3%;
}
  
  //background
ion-content{  
  --background: rgb(255, 255, 255) url(/assets/img/bg_1.svg) no-repeat center center / cover;  
}
  
  //label
.size-text35px{
  font-size: 20px;
}

.text-center{
  text-align: center;
}

.text-white{
  color: #fff;
}

.text-bold{
  font-weight: bold;
}

.text-color-purple{
  color: var(--warmin-color-purple);
}
.text-nodecoration{
text-decoration: none;
}

  //cotenedor formulario
.contenedor-formulario{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.contenedor-item{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding-bottom: 15%;
}
.size-icon{
  height: 30px;
  width: 30px;
  padding-right: 15px;
}
.form-center{
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}
  //inputs
.input-border-bot{
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-color: var(--warmin-color-orange);
}

.item-native-transparency{
  --background: transparent;
}

//boton
  
.boton-warmi-in{
  --background: var(--warmin-color-brown);
  --border-radius: 50px;
  font-weight: bold;
  text-transform: capitalize;
  max-height: 50px;

}
// ion-header{
//     text-align: center;
//   }
//   ion-toolbar{
//     --background:#50CD89;
//     color: #ffffff;
//     font-size: 32px;
//   }

//   .color-principal{
//     color: #50CD89;
//   }

//   .boton-azul{
//     --border-radius: 15px!important; 
//     margin-left: 30px ;
//     margin-right:30px ;
//     height: 70px;
//   }

  .custom-modal {
    --backdrop-opacity: 0.5;
    backdrop-filter: blur(3px);

    &::part(backdrop) {
        background: #000;
    }

    &::part(handle) {
        background: var(--ion-color-primary);
        width: 150px;
        height: 6px;
    }

    &::part(content) {
        border-radius: 0px;
        box-shadow: 0px 0px 20px 5px rgb(0 0 0 / 32%);
    }
}