/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

// --warmin-color-yellow:#f9b233;
// --warmin-color-orange:#EC6730;
// --warmin-color-purple:#522974;
// --warmin-color-pinkd:#e62243;
// --warmin-color-brown:#a9172e;  

@font-face {
  font-family: Encode Sans;
  src: url(../src/assets/fonts/EncodeSans.ttf);
}

.border-top-page {
  padding: 2% 0 0 0;
}

.contenedor-header {
  display: flex;
  background-color: var(--warmin-color-orange);
  border-end-end-radius: 50px;
  border-start-end-radius: 50px;
  // max-width: 60%;
  // max-height: 40px; 
  width: 60%;
  height: 40px;
  align-items: center;

}

* {
  font-family: Encode Sans;
}

.texto-header {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
}

.icon-header {
  padding: 3%;
}

.pad20px {
  padding-bottom: 20px;
}

//background
ion-content {
  --background: rgb(255, 255, 255) url(/assets/img/bg_1.svg) no-repeat center center / cover;
}

//label
.size-text35px {
  font-size: 20px;
}

.text-center {
  text-align: center;
}

.text-white {
  color: #fff;
}

.text-bold {
  font-weight: bold;
}

.text-color-purple {
  color: var(--warmin-color-purple);
}

.text-color-pinkd {
  color: var(--warmin-color-pinkd);
}

.text-color-brown {
  color: var(--warmin-color-brown);
}
.text-color-orange {
  color: var(--warmin-color-orange);
}

.text-nodecoration {
  text-decoration: none;
}

.text-capitalize {
  text-transform: capitalize;
}

//search bar
.container-search-bar {
  display: flex;
  justify-content: center;
}

.search-bar-orange {
  background: var(--warmin-color-orange);
  border-radius: 5px;
}

.size-search-bar {
  width: 500px;
}

//cotenedor formulario
.contenedor-formulario {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.container-normal {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.contenedor-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding-bottom: 10%;
}

.size-icon {
  height: 30px;
  width: 30px;
  padding-right: 15px;
}

.form-center {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

//inputs
.input-border-bot {
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-color: var(--warmin-color-orange);
}

.item-native-transparency {
  --background: transparent;
}

//perfiles
.contenedor-perfiles {
  padding: auto;
  margin: auto;
  // background: var(--warmin-color-pinkd);
  align-items: center;
  justify-content: center;
  align-self: center;
  align-content: center;
  border-radius: 3px;

}

.lista-agricultoras {
  width: 95%;
  height: 350px;
  border: 4px;
  border-style: solid;
  border-color: var(--warmin-color-orange);
  background-color: var(--warmin-color-orange);
}

.radius {
  border-color: black;
  border: 50px;
  border-radius: 50%;
}

.avatar-center {
  display: flex;
  justify-content: center;
}
.center{  
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
}

//boton

.boton-warmi-in {
  --background: var(--warmin-color-brown);
  --border-radius: 50px;
  font-weight: bold;
  text-transform: capitalize;
  max-height: 50px;

}
.btn-ordenar{
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
//Listados tarjetas ventas
.contenedor-card-p {
  background: transparent;
  border-radius: 20px 0 20px 20px;
}

.encabezado-card {
  background: var(--warmin-color-orange);
  border-radius: 20px 0 0 0;
  margin: 0;
  color: #fff;

}

.descripcion-card {
  background: #fff;
  margin: 0;
  border: 4px;
  border: var(--warmin-color-orange);
  border-style: solid;
  border-radius: 0 0 20px 20px;
}

.contenedor-list-ventas {
  margin: 10px;
}
//searchbar 2
.contenedor-busqueda{
  width: 100%;
  height: 50px;
  margin-left: -2px;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.search{
  width: 80%;
}

.busqueda{
  background: var(--warmin-color-orange);
  padding: 3px;
  margin: 2px;
  border-radius: 3px;
}
// //select-otion
ion-select {
  min-width: 28vh;
  color: var(--warmin-color-purple);
  --placeholder-color: var(--warmin-color-brown);
  --placeholder-opacity: 1;
}

ion-select::part(icon) {
  width: 30px;
  height: 30px;
  content: url('/assets/icon/arrow_down.svg');
}


//card
.card-tabs-bg {
  background: var(--warmin-color-yellow);
}
.tam-map{
  width: 100%; 
  height: 68vh;
}
// ion-header{
//     text-align: center;
//   }
//   ion-toolbar{
//     --background:#50CD89;
//     color: #ffffff;
//     font-size: 32px;
//   }

//   .color-principal{
//     color: #50CD89;
//   }

//   .boton-azul{
//     --border-radius: 15px!important; 
//     margin-left: 30px ;
//     margin-right:30px ;
//     height: 70px;
//   }

.custom-modal {
  --backdrop-opacity: 0.5;
  backdrop-filter: blur(3px);

  &::part(backdrop) {
    background: #000;
  }

  &::part(handle) {
    // background: var(--warmin-color-orange);
    // width: 150px;
    // height: 6px;
    display: none;
  }

  &::part(content) {
    border-radius: 0px;
    box-shadow: 0px 0px 20px 5px rgb(0 0 0 / 32%);
     height: 50%;
  }
}

//alertas css ts
.app-alert .alert-wrapper {
  background: var(--warmin-color-orange);
  border: 3px;
  border-style: solid;
  border-radius: 20px 0 20px 20px;
  border-color: var(--warmin-color-orange);

  .alert-title {
    color: #fff;
  }

  .alert-message {
    background: #fff;
    padding: 5px 10px 0 10px;   
    color: var(--warmin-color-purple);

  }

  .alert-button-group {
    background: #fff;
  }

  .alert-button {
    background: var(--warmin-color-brown);
    border-radius: 5px;
    color: #fff;
  }
}

ion-popover::part(content) {
  --width: 250px; 
}

@media screen and (max-width: 440px) {
  // aplicar los estilos aquí a partir de este ancho mínimo  de 
  // 576px (dispositivos con tamaño de pantalla medio)
  .texto-header {
    font-size: 15px;
    font-weight: bold;
    color: #fff;
  }
  
}
@media screen and (max-width: 340px) {
  // aplicar los estilos aquí a partir de este ancho mínimo  de 
  // 576px (dispositivos con tamaño de pantalla medio)
  .texto-header {
    font-size: 10px;
    font-weight: bold;
    color: #fff;
  }
}

.contenedor-title-modal {
  width: 40vh;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  background: var(--warmin-color-orange);
  border-start-end-radius: 50px;
  border-end-end-radius: 50px;
}

.contenedorpinkd-title-modal {
  width: 40vh;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  background: var(--warmin-color-pinkd);
  border-start-end-radius: 50px;
  border-end-end-radius: 50px;
}

.contenedoryellow-title-modal {
  width: 40vh;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  background: var(--warmin-color-yellow);
  border-start-end-radius: 50px;
  border-end-end-radius: 50px;
}

.contenedorred-title-modal {
  width: 40vh;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  background: var(--warmin-color-orange);
  border-start-end-radius: 50px;
  border-end-end-radius: 50px;
}

.texto-title-modal {
  font-size: 20px;
  color: #fff;
  font-weight: bold;
  padding: 5px;
}

.margen-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.modal-name-user {
  color: var(--warmin-color-brown);
  margin-bottom: 15px;
  font-weight: bold;

}
.error-validate{
  color: #F06363 ;
  font-size: 12px;
  }