<ion-content>
  <div class="border-top-page">
    <!-- Contenedor 1 -->
    <div class="contenedor-header">
      <ion-icon class="icon-header size-icon" slot="start" src="/assets/icon/ubication.svg">
      </ion-icon>
      <div class="texto-header">Detalles del producto</div>
    </div>
  </div>
  <!-- Contenedor Imagen + Descripcion + precio -->
  <div class="contenedor-producto">
    <div class="imagen-producto"><img src="assets/img/lechuga.jpg" alt=""></div>
    <div class="descripcion-imagen">
      <ion-label class="nombre-producto text-color-brown text-bold">{{productName}}</ion-label>
      <ion-label class="precio-producto text-color-brown text-bold">Precio</ion-label>
      <ion-label class="precio text-color-purple text-bold">{{price}}</ion-label>
    </div>
  </div>

  <div class="contenedor-descripcion">
    <ion-card>
      <!-- <ion-card *ngFor="let product of products" class="contenedor-card-p"> -->
      <ion-card-header>
        <ion-card-title class="text-bold text-color-brown">Descripción</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div class="descripcion-producto text-color-purple">Lorem, ipsum dolor sit amet consectetur adipisicing elit.
          Explicabo voluptatibus ea hic odit asperiores maxime neque dolorem blanditiis unde, laborum est veritatis,
          eaque aspernatur consectetur id labore nam cumque aliquid qui. Quibusdam quidem sequi ipsam eveniet autem
          alias voluptates obcaecati.
          in.</div>
      </ion-card-content>
    </ion-card>
    <!-- <ion-label class="descripcion-producto text-color-purple">Lorem, ipsum dolor sit amet consectetur adipisicing elit.
      Perspiciatis possimus odit quod soluta iusto eos debitis ducimus et, animi cupiditate atque veniam! Necessitatibus
      aliquid perferendis autem, consequatur architecto obcaecati provident repellat ut? Repellat, a?</ion-label>
       -->
  </div>

  <!-- Diseño de producto pedido factura -->
  <div class="contenedor-compra">
    <div class="size-items-d u-venta">
      <ion-label>Unidad de venta</ion-label>      
        <ion-radio-group value="biff">
          <ion-item lines="none">
            <div class="text-bold text-color-purple size-letter">{{measure}}</div>
            <ion-radio style="margin: 2px;" slot="start" value="griff"></ion-radio>
          </ion-item>
        </ion-radio-group>
      
    </div>
    <!--  -->
    <div class="size-items-d cantidad">
      <ion-label>Cantidad</ion-label>
      <div class="valores-cantidad">
        <ion-icon (click)="addQuantity()" style="padding: 3px; width: 30px; height: 30px; color: var(--warmin-color-brown);"
          name="add-circle-outline"></ion-icon>
        <label class="size-letter" style="color: var(--warmin-color-purple); font-weight: bold;" id="quantity">
          {{quantity}} </label>
        <ion-icon (click)="lessQuantity()" style="padding: 3px; width: 30px; height: 30px; color:var(--warmin-color-brown);"
          name="remove-circle-outline"></ion-icon>
      </div>
    </div>
    <!--  -->
    <!-- <div class="size-items-d "> -->
      <div *ngFor="let product of products" class="size-items-d ">
      <ion-label>Total</ion-label>
      <div class="total size-letter">
        {{total}}
      </div>
    </div>
  </div>

  <div class="btn-ordenar">
    <ion-button (click)="addCar()" class="ion-padding" class="boton-warmi-in">
      <ion-icon name="cart-outline"></ion-icon> Añadir al carrito
    </ion-button>
  </div>

</ion-content>
