<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="inicio">
      <ion-icon src="/assets/iconos/logo_fullcolor.svg"></ion-icon>
      <ion-label class="text-color-purple text-bold">Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="transporte">
      <ion-icon src="/assets/iconos/o_transporte.svg"></ion-icon> 
      <ion-label class="text-color-purple text-bold">Transporte</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="productos">
      <ion-icon src="/assets/iconos/o_col.svg"></ion-icon> 
      <ion-label class="text-color-purple text-bold">Productos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="ventas">
      <ion-icon src="/assets/iconos/o_store.svg"></ion-icon> 
      <ion-label class="text-color-purple text-bold">Ventas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="notificaciones">
      <ion-icon src="/assets/iconos/notifications_1.svg"></ion-icon> 
      <ion-label class="text-color-purple text-bold">Notificaciones</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>