

<ion-content *ngIf='type === "Emergencia"'>
    <div class="contenedorpinkd-title-modal">
      <div class="">
        <div class="texto-title-modal">{{type}}</div>
      </div>
    </div>

    <div class="margen-content">
      <div class="modal-name-user">{{name}}</div>
      <div>{{description}}</div>      
    </div>
</ion-content>
<ion-content *ngIf='type === "Alerta"'>
  <div class="contenedoryellow-title-modal">
    <div class="">
      <div class="texto-title-modal">{{type}}</div>
    </div>
  </div>
  <div class="margen-content">
    <div class="modal-name-user">{{name}}</div>
    <div>{{description}}</div>      
  </div>
</ion-content>
<ion-content *ngIf='type === "Informativa"'>
  <div class="contenedor-title-modal">
    <div class="">
      <div class="texto-title-modal">{{type}}</div>
    </div>
  </div>

  <div class="margen-content">
    <div class="modal-name-user">{{name}}</div>
    <div>{{description}}</div>      
  </div>
</ion-content>
