
.contenedor-title{
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
}
.error-validate{
    color: #F06363 ;
    font-size: 12px;
    }

// ion-list.list-md{
//     color:  var(--warmin-color-purple);
//     padding-top: 0px;
//     padding-bottom: 0px;
//     border: 4px;
//     border-radius: 20px 0 20px 20px;
//     border-style: solid;
//   }